*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.btn-primary{
    font-weight: 700;
font-size: 20px;
    font-size: 20px;
    color: #FFFFFF;
    height: 64px;
    border: 0;
    padding: 18px 35px;
    background: #FD6E0A;
border-radius: 5px;
}
header{
    background-color: #fff8f3;
    background-image:url(../images/header_bg.png),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right,bottom left;
}

/* header and navigation style*/
nav{
    display: flex;
    justify-content: space-between;
    padding: 40px 150px;
}
.nav-title{
    font-weight: 800;
    font-size: 48px;
}
.text-primary{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    align-items: center;
    
}
nav li{
    list-style: none;
    margin: 35px;

}
/* banner style*/

.banner{
    margin: 0 150px;
    display: flex;
    align-items: center;
}

.banner-title{
    font-weight: 700px;
    font-size: 85px;
}
.banner-subtitle{
    font-weight: 600px;
    font-size: 45px;
}
.banner-discriotion{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/*about style*/
main{
    max-width: 1140px;
    color: #757575;
    margin: 0 auto;
}
.about{
    margin-top: 140px;
    background: #fff8f3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;

}
.section-title{
font-weight: 700;
font-size: 35px;
    margin-bottom: 30px;
   text-align: center;
}
.section-discription{
    margin-bottom: 30px;
    font-size: 18px;
    color: #757575;

}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about .about-title{
    font-size: 20px;
    color: #757575;
}
.info-discription{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}
/* what i do style */
.section-title{
    text-align: center;
    color: black;
  margin-top: 70px;
  margin-bottom: 50px;
}
.skill{
    background: white;
    box-shadow: 0px 6px 50px rgb(0, 0,0, 0.20);
    border-radius: 5px;
    padding: 30px;
}
.skill-container{
    display: flex;
 gap: 24px;
}
.skill-title{
  color: black;
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight:bolder;
    
}
.skill-discription{
    color: #757575;
}
/* resume secton style */

.resume-content{
    display: flex;
    gap: 20px;
}
.resume .title{
    color: black;
    font-weight: 700;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;

}
.resume .sub-title{
    margin-bottom: 10px;
    color: #757575;
    font-weight: 600;
    font-size: 20px;

}
.resume .discription{
    font-size: 16px;
    color: #757575;

}
.resume-btn{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 30px;
}
/* contact style */
.contact{
    display: flex;
    gap: 100px;
    padding:130px 200px;
    background-color: #ffe4c5;
}
.contact .section-title{
    text-align: left; 
}
.contact input[type="text"],input[type=email], textarea{
    margin-bottom:24px ;
    border: 0px;
    width: 100%;
    padding: 18px 30px;
}
input{
    height: 64px;
}
.contact a{
    text-decoration: none;
}